html * {
 /*   font-family: 'Lato', sans-serif;  */
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    height: 100em;
}
#_navBar-main {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
z-index: 99;
    background-color: rgb(212, 98, 32);
    height: 9.5vh;
    overflow: hidden;
}

#_navBar-main a {
    font-weight: 600;
    text-decoration: none;
    padding: 2em 5em;
    vertical-align: middle;
    float: left;
    color: rgb(214, 214, 214);
}
#_navBar-main a:hover {
    color: rgb(77, 75, 75);
    transition-duration: .3s;
    padding: 2.1em 5em;
    font-weight: bolder;
}
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
  }
  
.sticky + .contentPage {
    padding-top: 160px;
  }

.contentPage {
    margin: 0 20%;
}

.hiddenPage {
    display: none;
}

#_aboutPage {

}

.cntPlHldr {

    color: rgb(77, 77, 77);
}

#content-bios {
    padding: .5em;
    }
    .bio-card {
        max-width: auto;
    
    margin: .2em;
        
        display: grid;
        grid-template-columns: auto auto;
    }
    .bio-card .content {
        margin: 1em;
        word-spacing: .5em;
        padding: 1em;
        line-height: 1.2em;
        font-size: 1.2em;
        font-weight: 200;
    }
    
    .bio-pic {
    width: 15em;
    height: 15em;
    margin: 4em;
    border-radius: 4em;
    -webkit-box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.75);
    border: solid grey 1px;
    
    }
    