html {
    font-family: 'Raleway', sans-serif;

    height: 100%;
    max-width: 100%;
    background-image: url(mainIndexBGimg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 70%;
    background-attachment: fixed;
}

body {
    margin: 0 18em;
    height: 1300px;
    background-color: rgba(245, 245, 245, 0.719);
}

body #nav-cont {
    background: rgb(40,40,40);
    background: linear-gradient(90deg, rgba(40,40,40,1) 0%, rgba(50,50,50,1) 41%, rgba(35,35,35,1) 100%);
        margin: 0;
    overflow: hidden;
    -webkit-box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.75);
box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.75);
max-height: 4em;
/*
position: sticky;
top: 0;
z-index: 99;
*/
}

body #nav-cont .link-nav {
    font-size: 1.1em;
    padding: 1.2em 2em;
    text-decoration: none;
float: left;
color: silver;
}

#shareBtn {
    float: right;
    width: 3em;
    height: 3em;
    padding: auto;
    margin: .5%;
    filter: invert(80%);
}

#shareBtn:hover {
    filter: invert(70%);
    cursor: pointer;
}

body #nav-cont .link-nav:hover {
    color: #333;
    background-color: silver;
}

#header-img-cont {
filter: brightness(70%);
height: 18em;
    width: 100%;
    background-size: cover;
background-image: url(bannerMain.png);
background-repeat: no-repeat;
background-position: center;
align-content: center;
}



 #nav-cont-2 {
    background: rgb(40,40,40);
    background: linear-gradient(90deg, rgba(40,40,40,1) 0%, rgba(50,50,50,1) 41%, rgba(35,35,35,1) 100%);
    margin: 0;
    overflow: hidden;
    -webkit-box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.75);
box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.75);
max-height: 4em;

}

 #nav-cont-2 .link-nav-2 {
    text-align: center;
    width: 5em;
    font-size: .875em;
    padding: 1em 1.7em;
    text-decoration: none;
    float: left;
    color: silver;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    border-bottom-width: 50%;
}

#nav-cont-2 .link-nav-2:hover {
    border-bottom: 2px solid white;
    border-bottom-width: 25%;
}
#content-bios {
    display: grid;
    grid-template-columns: auto auto;
}
.bio-card {
    max-width: auto;

margin: 2em;
    
    display: grid;
    grid-template-columns: auto auto;
}
.bio-card .content {
    margin: 1em;
    padding: 1em;
}

.bio-pic {
width: 10em;
height: 10em;
margin: 4em;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 9; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #333; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 0; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    display: list-item;
    text-align: center;
  }
  
  /* The navigation menu links */
  .sidenav a {
    margin: 2em;
    text-decoration: none;
    font-size: 2em;
    color: #818181;
    display: block;
    transition: 0.3s;

  }

  .sidenav .closebtn {
    display: block;
    margin: 1em;
    text-decoration: none;
    font-size: 3em;
    cursor: pointer;
  }
  .sidenav a img {
      width: 3em;
  }
  /* When you mouse over the navigation links, change their color */
  .sidenav a img:hover {
    filter: invert(70%);
  }

  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }