html {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 600;
font-size: 1.2em;
    height: 100%;
    max-width: 100%;
    background-image: url(blur.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 70%;
    background-attachment: fixed;
}

body {
    margin: 0 18em;
    height: 2000px;
    background-color: lightgray;
}

body #nav-cont {
    background: rgb(172,68,0);
    background: linear-gradient(0deg, rgba(172,68,0,1) 0%, rgba(249,114,25,1) 100%);
            margin: 0;
    overflow: hidden;
    -webkit-box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.75);
box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.75);
max-height: 4em;
/*
position: sticky;
top: 0;
z-index: 99;
*/
}

body #nav-cont .link-nav {
    font-size: 1.1em;
    padding: 1.2em 2em;
    font-weight: 600;

    text-decoration: none;
float: left;
color: black;
}

#shareBtn {
    float: right;
    width: 3em;
    height: 3em;
    padding: auto;
    margin: .5%;
    filter: invert(80%);
}

#shareBtn:hover {
    filter: invert(70%);
    cursor: pointer;
}

body #nav-cont .link-nav:hover {
    color: #333;
    background-color: silver;
}

#header-img-cont {
filter: brightness(70%);
height: 15em;
    width: 100%;
    background-size: contain;
background-image: url(bannerMain.png);
background-repeat: no-repeat;
background-position: center;
align-content: center;
}



 #nav-cont-2 {
    background: rgb(172,68,0);
    background: linear-gradient(0deg, rgba(172,68,0,1) 0%, rgba(249,114,25,1) 100%);
        margin: 0;
    overflow: hidden;
    -webkit-box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.75);
box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.75);
max-height: 4em;

}

 #nav-cont-2 .link-nav-2 {
    text-align: center;
    width: 5em;
    font-size: .875em;
    padding: 0.2em 1.7em;
    text-decoration: none;
    font-weight: 600;
    float: left;
    color: black;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    border-bottom-width: 50%;
}

.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }
  
  
  
  #nav-cont-2 .link-nav-2:hover {
    border-bottom: 2px solid white;
    border-bottom-width: 25%;
}
#content-bios {
padding: .5em;
}
.bio-card {
    max-width: auto;

margin: .2em;
    
    display: grid;
    grid-template-columns: auto auto;
}
.bio-card .content {
    margin: 1em;
    word-spacing: .5em;
    padding: 1em;
    line-height: 1.2em;
    font-size: 1.2em;
    font-weight: 200;
}

.bio-pic {
width: 15em;
height: 15em;
margin: 4em;
border-radius: 4em;
-webkit-box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.75);
box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.75);
border: solid grey 1px;

}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 9; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: rgb(116, 116, 116); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 0; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    display: list-item;
    text-align: center;
  }
  
  /* The navigation menu links */
  .sidenav a {
    margin: 2em;
    text-decoration: none;
    font-size: 2em;
    color: #131313;
    display: block;
    transition: 0.3s;

  }

  .sidenav .closebtn {
    display: block;
    margin: 1em;
    text-decoration: none;
    font-size: 3em;
    cursor: pointer;
  }
  .sidenav a img {
      width: 3em;
  }
  /* When you mouse over the navigation links, change their color */
  .sidenav a img:hover {
    filter: invert(70%);
  }

  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }